<div class="container home">
  <div class="asteroid"></div>
  <div class="text">
    <p class="title" routerLink="/neos">Finding Neos</p>
    <div class="intro">
      <p>Every day and night, Earth has a bunch of buddies buzzing around.</p>
      <p>They are called Near-Earth Objects, or NEOs.</p>
      <br />
      <div class="button-line">
        <app-button title="Check out" route="/neos"></app-button>
        <span>&nbsp;who are hanging out with Earth today!</span>
      </div>
    </div>
  </div>
</div>
